<div class="header">
    <div class="header__inner">
        <div class="header__menu" tabindex="1">
            <span class="header__menu-line"></span>
            <span class="header__menu-line"></span>
            <span class="header__menu-line"></span>
        </div>
        <div class="header__content">
            <ul class="header__breadcrumbs">
                <li class="header__breadcrumbs-item">Главная</li>
                <li class="header__breadcrumbs-item">Планирование</li>
            </ul>
            <div class="header__content-title">
                Планирование
            </div>
        </div>
        <div class="header__btn" tabindex="2" (click)="openEditbar($event)">
            <div class="header__btn-text">
                Запланировать
            </div>
        </div>
    </div>
</div>