//variables
$primary-color: rgba(0, 0, 0, 0.87);
$secondary-color: rgba(0, 0, 0, 0.54);
$blue: rgba(16, 113, 255, 1);
$blue-hover: rgba(16, 113, 255, 0.04);
$blue-focused: rgba(16, 113, 255, 0.12);
$blue-pressed: rgba(16, 113, 255, 0.16);
$black-hover: #F6F6F6;
$black-pressed: #DCDCDC;
$lines-gray: rgba(0, 0, 0, 0.08);
$lines-hover: rgba(0, 0, 0, 0.38);
$placeholder-color: rgba(0, 0, 0, 0.38);
$disabled-color: rgba(0, 0, 0, 0.22);